.cartouche{
  background-color: aquamarine;
  border-radius: .5rem;
  padding: 1rem;
  text-align: center;

}

.c1 {
  background-color: beige;
}

.c2 {
  background-color: black;
}

.c3 {
  background-color: orange;
}

.section1 .cartouche{
  margin-bottom: 1rem;
}

.section2 .art2{
  padding: 2rem;
}